amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.23
Django==1.9.2
django-cors-headers==1.1.0
django-debug-toolbar==1.4
django-filter==0.13.0
django-filters==0.2.1
django-mail-queue==2.2.2
django-mailer==1.1
-e git+http://github.com/SmileyChris/django-mailer-2.git@1bd21d43206bf00a1474c5c28ecfabfae79e16a0#egg=django_mailer_2
django-pipeline==1.6.7
django-rest-auth==0.7.0
django-tagging==0.4.1
djangorestframework==3.3.2
djangorestframework-jwt==1.7.2
kombu==3.0.35
lockfile==0.12.2
PyJWT==1.4.0
python-magic==0.4.11
pytz==2016.3
pyzmail==1.0.3
redis==2.10.5
six==1.10.0
sqlparse==0.1.18
